#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        mt2: mod_tap2 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        F1_F13: F1_F13 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F1>, <&kp F13>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
            label = "F1_F13";
        };

        F2_F14: F2_F14 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F2>, <&kp F14>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
            label = "F2_F14";
        };

        F3_F15: F3_F15 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F3>, <&kp F15>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
            label = "F3_F15";
        };

        F4_F16: F4_F16 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F4>, <&kp F16>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
            label = "F4_F16";
        };

        F5_F17: F5_F17 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F5>, <&kp F17>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
            label = "F5_F17";
        };

        F6_F18: F6_F18 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F6>, <&kp F18>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
            label = "F6_F18";
        };

        F7_F19: F7_F19 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F7>, <&kp F19>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
            label = "F7_F19";
        };

        F8_F20: F8_F20 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F8>, <&kp F20>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
            label = "F8_F20";
        };

        F9_F21: F9_F21 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F9>, <&kp F21>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
            label = "F9_F21";
        };

        F10_F22: F10_F22 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F10>, <&kp F22>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
            label = "F10_F22";
        };

        F11_F23: F11_F23 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F11>, <&kp F23>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
            label = "F11_F23";
        };

        F12_F24: F12_F24 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F12>, <&kp F24>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
            label = "F12_F24";
        };

        pdn_cln: pdn_cln {
            compatible = "zmk,behavior-mod-morph";
            label = "PDN_CLN";
            bindings = <&kp PAGE_DOWN>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dot_comma: dot_comma {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_COMMA";
            bindings = <&kp KP_DOT>, <&kp COMMA>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&mt2 LS(LG(NUMBER_4)) ESCAPE>;
            key-positions = <13 14>;
            layers = <0>;
        };

        LClick {
            bindings = <&mkp LCLK>;
            key-positions = <31 32>;
            layers = <0 1 2 3>;
        };

        RClick {
            bindings = <&mkp RCLK>;
            key-positions = <32 33>;
            layers = <0 1 2 3>;
        };

        MClick {
            bindings = <&mkp MCLK>;
            key-positions = <33 34>;
            layers = <0 1 2 3>;
        };

        Scroll {
            bindings = <&mo 6>;
            key-positions = <31 32 33>;
            layers = <0 1>;
        };

        ctrl_space {
            bindings = <&kp LC(SPACE)>;
            key-positions = <30 31>;
            layers = <0>;
        };

        alt_grave {
            bindings = <&kp LA(GRAVE)>;
            key-positions = <30 31>;
            layers = <1>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <18 19>;
            layers = <0 1>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <19 20>;
            layers = <0 1>;
        };

        backslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <20 21>;
            layers = <0 1>;
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <21 22>;
            layers = <0 1>;
        };

        left_bracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <18 19 20>;
            layers = <0 1>;
        };

        right_bracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <19 20 21>;
            layers = <0 1>;
        };

        quote {
            bindings = <&kp SQT>;
            key-positions = <20 21 22>;
            layers = <0 1>;
        };

        rectangle_layer {
            bindings = <&mo 9>;
            key-positions = <37 38>;
            layers = <0>;
        };
    };

    macros {
        mcr_mcr: mcr_mcr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp N1 &kp N5 &kp N6 &kp N4 &kp Y &kp U>;
            label = "MCR_MCR";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none  &none         &none                &none                 &none       &none                            &none  &none  &none      &none    &none            &none
&none  &kp Q         &kp W                &kp E                 &kp R       &kp T                            &kp Y  &kp U  &kp I      &kp O    &kp P            &none
&none  &kp A         &kp S                &kp D                 &kp F       &kp G                            &kp H  &kp J  &kp K      &kp L    &lt 7 SEMICOLON  &none
&none  &kp Z         &kp X                &kp C                 &kp V       &kp B  &none      &none          &kp N  &kp M  &kp COMMA  &kp DOT  &kp SLASH        &none
&none  &mt LGUI TAB  &mt LALT LANGUAGE_1  &mt LCTRL LANGUAGE_2  &kp LSHIFT  &mo 2  &kp SPACE  &kp BACKSPACE  &mo 4  &none  &none      &none    &mt LGUI ENTER   &none
            >;
        };

        win_layer {
            bindings = <
&none  &none          &none                &none                &none           &none                            &none  &none  &none      &none       &none            &none
&none  &kp Q          &kp W                &kp E                &kp R           &kp T                            &kp Y  &kp U  &kp I      &kp O       &kp P            &none
&none  &kp A          &kp S                &kp D                &kp F           &kp G                            &kp H  &kp J  &kp K      &kp L       &lt 8 SEMICOLON  &none
&none  &kp Z          &kp X                &kp C                &kp V           &kp B  &none      &none          &kp N  &kp M  &kp COMMA  &kp PERIOD  &kp SLASH        &none
&none  &mt LCTRL TAB  &mt LALT LANGUAGE_1  &mt LGUI LANGUAGE_2  &kp LEFT_SHIFT  &mo 3  &kp SPACE  &kp BACKSPACE  &mo 4  &none  &none      &none       &mt RCTRL ENTER  &none
            >;
        };

        lower_layer {
            bindings = <
&none  &none      &none      &none           &none                 &none                                &none              &none            &none            &none       &none        &none
&none  &kp LG(Q)  &kp LG(W)  &kp LANGUAGE_1  &kp LG(R)             &kp LG(T)                            &kp KP_NUMBER_7    &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp HOME    &kp PAGE_UP  &none
&none  &kp LG(A)  &kp LG(S)  &kp LANGUAGE_2  &kp LG(F)             &kp LA(LS(SPACE))                    &kp KP_NUMBER_4    &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp END     &pdn_cln     &none
&none  &kp LG(Z)  &kp LG(X)  &kp LG(C)       &mt2 LG(LS(V)) LG(V)  &kp LG(BACKSPACE)  &none     &none   &kp KP_NUMBER_1    &kp KP_NUMBER_2  &kp KP_NUMBER_3  &dot_comma  &mo 6        &none
&none  &trans     &trans     &trans          &trans                &trans             &mcr_mcr  &trans  &lt 4 KP_NUMBER_0  &none            &none            &none       &trans       &none
            >;
        };

        win_lower_layer {
            bindings = <
&none  &none      &none      &none           &none      &none                                &none              &none            &none            &none       &none        &none
&none  &kp LC(Q)  &kp LC(W)  &kp LANGUAGE_1  &kp LC(R)  &kp LC(T)                            &kp KP_NUMBER_7    &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp HOME    &kp PAGE_UP  &none
&none  &kp LC(A)  &kp LC(S)  &kp LANGUAGE_2  &kp LC(F)  &kp LA(LS(SPACE))                    &kp KP_NUMBER_4    &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp END     &pdn_cln     &none
&none  &kp LC(Z)  &kp LC(X)  &kp LC(C)       &kp LC(V)  &kp LC(BACKSPACE)  &none     &none   &kp KP_NUMBER_1    &kp KP_NUMBER_2  &kp KP_NUMBER_3  &dot_comma  &mo 6        &none
&none  &trans     &trans     &trans          &trans     &trans             &mcr_mcr  &trans  &lt 4 KP_NUMBER_0  &none            &none            &none       &trans       &none
            >;
        };

        simbol_layer {
            bindings = <
&none  &none            &none          &none         &none                 &none                                  &none             &none              &none         &none      &none          &none
&none  &kp NUMBER_1     &kp NUMBER_2   &kp NUMBER_3  &kp NUMBER_4          &kp N5                                 &kp NUMBER_6      &kp N7             &kp N8        &kp N9     &kp N0         &none
&none  &kp EXCLAMATION  &kp AT_SIGN    &kp HASH      &kp DOLLAR            &kp PERCENT                            &kp LEFT          &kp DOWN_ARROW     &kp UP_ARROW  &kp RIGHT  &sk SEMICOLON  &none
&none  &kp CARET        &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none   &none   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans        &trans     &trans         &none
&none  &trans           &trans         &trans        &trans                &trans                 &trans  &trans  &trans            &none              &none         &none      &mt2 RGUI SQT  &none
            >;
        };

        tertiary_layer {
            bindings = <
&none  &none     &none     &none    &none    &none                     &none         &none         &none           &none         &none           &none
&none  &F1_F13   &F2_F14   &F3_F15  &F4_F16  &F5_F17                   &out OUT_TOG  &out OUT_BLE  &out OUT_USB    &to 0         &to 1           &none
&none  &F6_F18   &F7_F19   &F8_F20  &F9_F21  &F10_F22                  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2    &bt BT_SEL 3  &bt BT_SEL 4    &none
&none  &F11_F23  &F12_F24  &trans   &trans   &kp CAPS  &none   &none   &sys_reset    &bootloader   &studio_unlock  &bt BT_CLR    &bt BT_CLR_ALL  &none
&none  &trans    &trans    &trans   &trans   &trans    &trans  &trans  &trans        &none         &none           &none         &trans          &none
            >;
        };

        scroll_layer {
            bindings = <
&none  &none   &none   &none   &none   &none                   &none   &none   &none   &none   &none   &none
&none  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans  &none   &none   &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &none   &none   &none   &trans  &none
            >;
        };

        browser_layer {
            bindings = <
&none  &none   &none   &none   &none   &none                   &none               &none              &none            &none          &none   &none
&none  &trans  &trans  &trans  &trans  &trans                  &kp LG(R)           &kp LG(MINUS)      &kp LG(EQUAL)    &kp LG(LS(T))  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans                  &kp LG(LEFT_ARROW)  &kp LC(TAB)        &kp LC(LS(TAB))  &kp LG(RIGHT)  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans  &none   &none   &kp LG(T)           &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp LG(W)      &trans  &none
&none  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans              &none              &none            &none          &trans  &none
            >;
        };

        win_brouser_layer {
            bindings = <
&none  &none   &none   &none   &none   &none                   &none               &none              &none            &none          &none   &none
&none  &trans  &trans  &trans  &trans  &trans                  &kp LC(R)           &kp LC(MINUS)      &kp LC(EQUAL)    &kp LC(LS(T))  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans                  &kp LA(LEFT_ARROW)  &kp LC(TAB)        &kp LC(LS(TAB))  &kp LA(RIGHT)  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans  &none   &none   &kp LC(T)           &sk C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp LC(W)      &trans  &none
&none  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans              &none              &none            &none          &trans  &none
            >;
        };

        rectangle_layer {
            bindings = <
&none  &none   &none   &none   &none   &none                                  &none                   &none                 &none          &none          &none          &none
&none  &trans  &trans  &trans  &trans  &trans                                 &trans                  &kp LC(LA(UP_ARROW))  &kp LC(LA(U))  &sk LC(LA(I))  &trans         &none
&none  &trans  &trans  &trans  &trans  &trans                                 &trans                  &kp LC(LS(DOWN))      &kp LC(LA(J))  &kp LC(LA(K))  &trans         &none
&none  &trans  &trans  &trans  &trans  &trans  &none   &none                  &kp LA(LC(LEFT_ARROW))  &kp LC(LA(RIGHT))     &kp LC(LA(D))  &kt LC(LA(F))  &kp LC(LA(G))  &none
&none  &trans  &trans  &trans  &trans  &trans  &trans  &kp LC(LA(BACKSPACE))  &kp LC(LA(ENTER))       &none                 &none          &none          &trans         &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        Tertiary {
            if-layers = <2 4>;
            then-layer = <5>;
        };

        win_Tertiary {
            if-layers = <3 4>;
            then-layer = <5>;
        };
    };
};
